#### Linux
*~
.Trash-*
Thumbs.db
$RECYCLE.BIN/
*.class
*.jar
hs_err_pid*
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/

#############
out/
.idea/
*.iml

Result.html
/target/

MutatedSrc/
TempResult/
Reports/
